<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>Hana Petshop</h3>
            <p>Chúng mình cung cấp dịch vụ tốt nhất cho Boss của bạn</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Hana Petshop</h3>
            <p>Hãy đến và trải nghiệp cửa hàng</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Hanna Petshop</h3>
            <p>Sản phẩm và dịch vụ với giá cả phải chăng</p>
        </div>
    </ng-template>
</ngb-carousel>