<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Logo -->
    <a href="#" class="navbar-brand">
        <img src="assets/Logo.png" alt="Logo" id="logo"> Hana
    </a>
    <form class="form-inline" action="">
        <input class="form-control mr-sm-2" type="text" placeholder="Search...">
        <!-- <span>
      <button class="btn btn-success" type="submit">Search</button>
    </span> -->
    </form>

    <!-- Elements -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link">Products</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">Services</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">About Us</a>
        </li>
        <!-- Login and Signup -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <app-modallogin></app-modallogin>
            </a>
        </li>
    </ul>


</nav>
